@font-face {
  font-family: "Love";
  /*Can be any text*/
  src: local("CarryYouRegular"),
    url("./fonts/CarryYouRegular.ttf") format("truetype");
}

.page {
  background-image: url(https://images.unsplash.com/photo-1603513492128-ba7bc9b3e143?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
  border: 1px solid rgb(198, 194, 194);
  /* border-radius: 0.5rem; */
  box-sizing: border-box;
  box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
}

.container-md {
  width: 600px;
}

.page-cover {

  background-size: cover;
}

.page-cover-bottom {
  background-image: url('https://admin-jigracing-bucket.s3.ap-southeast-2.amazonaws.com/IMG_20230408_135412.jpg');
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
    10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

.page-cover-top {
  background-image: url('https://admin-jigracing-bucket.s3.ap-southeast-2.amazonaws.com/z4247531308157_909ba857298c28023c9d07743ba88f7a.jpg');
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
    -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page-cover {
  color: hsl(35, 35, 35);
  border: solid 2px hsl(35, 20, 50);
}

.page-content {
  padding: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer {
  text-align: right;
  color: gray;
  margin-top: auto;
  font-size: 12px;
}

.page-text-cover {
  font-family: "Love"
}